code, pre {
    @incloude font-size(1.5);
    background: #f4f4f4;
    font: {
        family: Menlo, Monaco, Consolas, "Courier New", monospace;
    }
}

pre {
    display: block;
    overflow: auto;
    padding: 1em;
}