h1, h2, h3, h4, h5, h6 {
    color: $color-primary;
    font: {
        family: $font-secondary;
        weight: 300;
    }
}

h1 {
    @include font-size(3.6);
    line-height: 1.3;
}

h2 {
    @include font-size(3.0);
}

h3 {
    @include font-size(2.6);
}

h4 {
    @include font-size(2.6);
}

h5 {
    @include font-size(2.2);
}

h6 {
    @include font-size(1.8);
}

#tinymce,
.entry-content {
    h3, h5 {
        @include subtext(#858585, 1.4);
    }

    h4, h6 {
        @include subtext($color-primary, 1.4);
    }
}