table {
    margin: 1em 0;

    thead {
        th {
            @include subtext;
            background: $color-secondary;
            padding: 1em;
        }
    }

    td {
        //border: 1px solid #f0f0f0;
        padding: .5em;
    }
}